@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
.commitment {
  width: 100%;
  margin: 68px 0 53px 0;
}

.commitment .commitment_text {
  max-width: 949px;
  text-align: center;
  margin: 0 auto;
}

.commitment .commitment_text h2 {
  font-size: 37px;
  font-weight: bold;
  line-height: 54px;
  color: #373737;
}

.commitment .commitment_text p {
  font-size: 22px;
  font-weight: 500;
  line-height: 38px;
  color: #7d7d7d;
  margin: 32px 0 87px 0;
}

.commitment .card_commitment {
  background: #fff;
  padding: 45px 45px 0 45px;
  height: 351px;
  border-radius: 15px;
  margin-bottom: 47px;
}

.commitment .card_commitment .img_background-blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 76px;
  height: 76px;
  border: none;
  border-radius: 50%;
  background-color: #717cff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.commitment .card_commitment .img_background-red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 76px;
  height: 76px;
  border: none;
  border-radius: 50%;
  background-color: #FF5959;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.commitment .card_commitment .img_background-green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 76px;
  height: 76px;
  border: none;
  border-radius: 50%;
  background-color: #27AE60;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.commitment .card_commitment h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 37px;
  color: #37474f;
  margin: 30px 0 9px 0;
}

.commitment .card_commitment p {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #37474f;
}

.card_newsletter {
  background: #fff;
  height: 406px;
  border-radius: 15px;
  cursor: pointer;
}

.card_newsletter .img_newsletter {
  -webkit-transition: -webkit-clip-path 1s ease-in-out;
  transition: -webkit-clip-path 1s ease-in-out;
  transition: clip-path 1s ease-in-out;
  transition: clip-path 1s ease-in-out, -webkit-clip-path 1s ease-in-out;
}

.card_newsletter .img_newsletter img {
  width: 100%;
  height: 224px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.card_newsletter .img_newsletter img:hover {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 50%;
}

.card_newsletter .date_newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin: 28px 24px 15px 24px;
}

.card_newsletter .date_newsletter p {
  color: #656465;
  font-size: 16px;
  font-weight: bolder;
}

.card_newsletter h3 {
  font-size: 22px;
  font-weight: bold;
  color: #656465;
  margin: 0 24px;
}

.card_newsletter h3:hover {
  color: #252525;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.card_events {
  background-color: #fff;
  border-radius: 15px;
  padding: 31px;
}

.card_events .header_events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 41px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_events .header_events .date_events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #717dff6e;
  padding: 12px 22px;
  border-radius: 11px;
}

.card_events .header_events .date_events span {
  color: #717CFF;
  font-size: 27px;
  font-weight: bold;
}

.card_events .header_events .date_events :nth-last-child(1) {
  font-size: 18px;
}

.card_events .header_events h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 37px;
  color: #37474F;
}

.card_events p {
  font-size: 16px;
  color: #37474f;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.44px;
  margin: 32px 0;
}

.card_events .footer_events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card_events .footer_events .cta_events a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  color: #717CFF;
  font-size: 17px;
  font-weight: bold;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.card_events .footer_events .cta_events a:hover {
  color: #4654FD;
  background-color: #717dff6e;
  padding: 0px 12px;
  border-radius: 16px;
}

.card_events .footer_events .cta_events a i {
  color: #37474F;
}

.card_events .footer_events .hour_events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.card_events .footer_events .hour_events span {
  color: #2d2d2d;
}

.card_events .footer_events .hour_events :nth-last-child(1) {
  color: #373737;
  font-size: 16px;
  font-weight: 900;
  line-height: 28px;
}

@-webkit-keyframes flashing_arrowDown {
  0%, 100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes flashing_arrowDown {
  0%, 100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@-webkit-keyframes flashing_arrowRight {
  0%, 100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
}

@keyframes flashing_arrowRight {
  0%, 100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
}

.button_scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 262px;
  gap: 60px;
  font-size: 22px;
  color: #fff;
  padding: 12px 34px;
  border: none;
  border-radius: 12px;
  background-color: #717CFF;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}

.button_scroll:hover {
  background-color: #4654fd;
}

.button_scroll .arrow_down_custom {
  color: #37474F;
  -webkit-animation: flashing_arrowDown 1.5s infinite;
          animation: flashing_arrowDown 1.5s infinite;
}

.button_scroll .arrow_right_custom {
  color: #37474F;
  -webkit-animation: flashing_arrowRight 1.8s infinite;
          animation: flashing_arrowRight 1.8s infinite;
}

/* Font family ROBOTO */
/* Estilos gerais */
html, body, h1, h2, h3, h4, ul, li, a, button, p {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container_commitment, .container_newsletter {
  display: -ms-grid;
  display: grid;
  max-width: 1180px;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 47px;
  margin: auto;
}

.container_events {
  display: -ms-grid;
  display: grid;
  max-width: 1180px;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 47px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 42px 0 86px 0;
}

.header img {
  width: 232px;
  height: 75px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header .menu_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 32px;
}

.header .menu_nav ul li {
  color: #373737;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  position: relative;
}

.header .menu_nav ul li:hover {
  color: #717CFF;
}

.header .menu_nav ul li:hover::before {
  content: '';
  position: absolute;
  border: solid 1px #717CFF;
  width: 100%;
  bottom: -4px;
}

.home {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 72px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 32px 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
}

.home .home_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.home .home_text h1 {
  font-size: 52px;
  font-weight: bold;
  color: #2f2f2f;
}

.home .home_text h1 span {
  color: #717CFF;
}

.home .home_text p {
  font-size: 22px;
  font-weight: 500;
  line-height: 38px;
  color: #7d7d7d;
  margin: 44px 0;
}

.home .home_img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.home .home_img .home_studenteImg {
  position: absolute;
  z-index: 3;
  height: 581px;
}

.home .home_img .home_studenteImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.home .home_img .img_background {
  position: relative;
  width: 1030px;
  height: 100%;
  background-image: linear-gradient(45deg, #8471FF, #717CFF);
  border-radius: 75%;
  top: 170px;
  left: 40px;
  z-index: 2;
}
