.container {

  max-width: 1180px;
  margin: 0 auto;
  box-sizing: border-box;
}


.container_commitment, .container_newsletter{
  display: grid;
  max-width: 1180px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) ;
  gap: 47px ;
  margin: auto;


}

.container_events {

  display: grid;
  max-width: 1180px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) ;
  gap: 47px;
  margin: 0 auto;

}
