.header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 42px 0 86px 0;
  // background-color: bisque;

  img {

    width: 232px;
    height: 75px;
    object-fit:contain;

  }

  .menu_nav ul {

    display: flex;
    flex-direction: row;
    gap: 32px;

  li {

      color: #373737;
      font-size: 17px;
      font-weight: 500;
      cursor: pointer;
      transition: 0.6s;
      position: relative;

      &:hover {

        color: #717CFF;


        &::before {

          content: '';
          position: absolute;
          border: solid 1px #717CFF;
          width: 100%;
          bottom: -4px;

        }

      }

    }
  }

}
